:root {
  --state-300: #d5e1ef;
  --state-500: #68778d;
  --state-900: #1f314f;

  --color-bg-page: var(--state-300);
  --color-title: var(--state-900);
  --color-text: var(--state-500);

  --space-sm: 16px;
  --space-md: 24px;
  --space-lg: 40px;

  --radius-sm: 10px;
  --radius-md: 20px;

  --font-family-base: "Outfit", sans-serif;
  --font-size-base: 16px;
  --font-height-base: 1.4;
  --font-weight-base: 400px;

  --font-size-title: 1.375rem;
  --font-size-text: 0.9375rem;
  --line-height-title: 1.3;
  --line-height-text: 1.5;
  --font-weight-bold: 700;
  --font-letter-spacing-text: 0.2px;

  --color-bg-card: #fff;
  --shadow-card: 0 20px 30px rgba(0, 0, 0, 0.08);
}

html {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--font-height-base);
  font-weight: var(--font-weight-base);
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  background-color: var(--color-bg-page);
}

img {
  width: 100%;
  height: auto;
}

.page {
  display: grid;
  place-items: center;
  min-height: 100dvh;
  padding: var(--space-md);
}

.card {
  max-width: 20rem;
  padding: var(--space-sm) var(--space-sm) var(--space-lg);
  border-radius: var(--radius-md);
  color: var(--color-text);
  text-align: center;
  background-color: var(--color-bg-card);
  box-shadow: var(--shadow-card);
}

.card__image {
  display: block;
  aspect-ratio: 1 / 1;
  border-radius: var(--radius-sm);
  background-color: var(--bg-main);
  overflow: hidden;
}

.card__content {
  padding: var(--space-md) var(--space-sm) 0;
}

.card__title {
  margin: 0;
  font-size: var(--font-size-title);
  line-height: var(--font-heigh-title);
  font-weight: var(--font-weight-bold);
  color: var(--color-title);
}

.card__text {
  margin: 0;
  margin-block-start: var(--space-sm);
  font-size: var(--font-size-text);
  line-height: var(--font-height-text);
  color: var(--color-text);
  letter-spacing: var(--font-letter-spacing-text);
}
